<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Einkaufsliste</title>
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>

  <body>
    <!-- Load Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <div id="app">
      <div class="iphone-app">
        <!-- Header -->
        <header class="app-header">
          <button class="icon-btn" id="list_btn" title="Zurück zu Startseite" @click="zuruck_startseite">
            <img src="icons/arrow_back.png" />
          </button>
          <span class="list_name">{{ list_name }}</span>
          <button class="icon-btn" id="einkaufmodus_btn" title="Einkaufmodus">
            <img src="icons/Wagen.png" />
          </button>
          <button class="icon-btn" id="settings_btn" title="Settings">
            <img src="icons/settings.svg" />
          </button>
        </header>

        <!-- Hauptseite -->
        <main class="app-content">
          <div class="product-list">
            <div v-for="product in products" :key="product.id" class="product-card">
              <div class="product-icon">
                <!-- <img :src="getIcon(product.kategorie)" alt="icon" /> -->
                  <img src="icons/default.png" alt="Icon" class="nav-icon" />
              </div>
              <div class="product-info">
                <div class="product-name">{{ product.name }}</div>
                <div class="product-meta">
                  Gekauft am: {{ product.datum }} </br>
                  Menge: {{ product.menge }} {{ product.einheit }}
                </div>
              </div>
              <div class="product-price">{{ product.preis || '— €' }}</div>
              <button class="btn btn-outline-danger" title="Loschen die Artikel" @click ="deleteProduct(product.id)">X</button>
            </div>
          </div>
        </main>

    <!-- Button: neue Produkt hinzufugen -->
  <button class="add-product" @click="add_product"><span>+</span> Produkte hinzufügen</button>

    <!-- Dialogfenster zum anlegen eines neuen Items  -->
    <div class="popup-overlay" v-if="showPopup">
      <div class="popup-content">
        <h4>Produkt hinzufügen</h4>

        <label>Name:</label>
        <input type="text" v-model="newProduct.name" />

        <label>Kategorie:</label>
        <select v-model="newProduct.kategorie">
          <option disabled value="">Bitte wählen</option>
          <option>Obst & Gemüse</option>
          <option>Getränke</option>
          <option>Fleisch</option>
          <option>Snacks</option>
          <option>Haushalt</option>
          <option>Sonstiges</option>
        </select>

        <label>Gewicht:</label>
        <input type="number" v-model="newProduct.menge" placeholder="z.B. 500" />

        <label>Einheit:</label>
        <select v-model="newProduct.einheit">
          <option disabled value="">Bitte wählen</option>
          <option>Gramm</option>
          <option>Kilogramm</option>
          <option>Milliliter</option>
          <option>Liter</option>
          <option>Stück</option>
        </select>

        <div class="popup-buttons">
          <button @click="saveProduct">Speichern</button>
          <button @click="closePopup">Abbrechen</button>
        </div>
      </div>
    </div>

    <!-- Navigation -->
        <nav class="bottom-nav">
          <button class="nav-item active">
            <img src="icons/Liste.png" alt="Start" class="nav-icon" /><br />Liste
          </button>
          <button class="nav-item">
            <img src="icons/Rechnung.png" alt="Rechnungen" class="nav-icon" /><br />Rechnungen
          </button>
          <button class="nav-item">
            <img src="icons/Kalender.png" alt="Kalender" class="nav-icon" /><br />Kalender
          </button>
          <button class="nav-item">
            <img src="icons/Rezepte.png" alt="Rezepte" class="nav-icon" /><br />Rezepte
          </button>
          <button class="nav-item">
            <img src="icons/Profil.png" alt="Profil" class="nav-icon" /><br />Profil
          </button>
        </nav>

    </div>
  </div>

    <script src="./app.js"></script>
  </body>
</html>
