
* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }
      body {
        font-family: 'Inter', sans-serif;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        }

      .iphone-app {
        position: relative;
        width: 390px;
        height: 844px;
        background-color: white;
        border-radius: 40px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }

      /*Header*/
      .app-header {
        display: flex;
        align-items: center;
        padding: 15px 29px; /*padding up/down and left/right */
        justify-content: space-between; 
        background-color: #f2f2f7;
        border-bottom: 1px solid #ddd;
        gap: 10px;
      }
      .list_name {
        flex: 2;
        font-weight: bold;
        font-size: 17px;
        text-align: left;
      }
      .settings_btn {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        padding: 10px;
        padding-right: 30px;
        text-align: center;
        font-size: 14px;
        border-top: 2px solid transparent;
        background: none;
        border: none;
      }
      .einkaufmodus_btn {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        border-top: 2px solid transparent;
        background: none;
        border: none;
      }

      .icon-btn {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon-btn img {
        width: 24px;
        height: 24px;
        object-fit: cover;
        display: block;
      }
    
    /*Navigation*/
     .bottom-nav {
      margin-top: auto;
      width: 100%;
      display: flex;
      justify-content: space-around;
      border-top: 1px solid #ddd;
      background-color: #f9f9f9;
    }
      .nav-item {
        flex: 1;
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
        border-top: 2px solid transparent;
        background: none;
        border: none;
      }

      .nav-icon {
        width: 30px;
        height: 30px;
        margin-bottom: 4px;
        }

      .nav-item.active {
        color: #7DCFB6;
        border-top: 2px solid #7DCFB6;
        font-weight: 600;
      }
    


      /* Hauptcontent */
       .app-content {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
        position: relative; 
      }
      .product-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 13px;
      }
      .product-card {
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 12px;
        padding: 12px 16px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.1);
        border: 1px solid #ddd;
      }
      .product-icon img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 16px;
      }
      .product-info {
        flex: 1;
      }
      .product-name {
        font-weight: bold;
        font-size: 15px;
      }
      .product-meta {
        font-size: 12px;
        color: #888;
      }
      .product-price {
        font-weight: bold;
        color: #333;
      }

      .btn-outline-danger {
        margin-left: 10px; /*abstand mit product-price*/
        padding: 10px 15px;
        font-weight: bold;
        font-size: 17;
        border-radius: 50%;
        line-height: 0.5;
        text-align: center;
        vertical-align: middle;
      }


      /*Produkte hinzufugen Button*/
      .add-product {
        font-weight: bold;
        font-size: 15px;
        text-align: right;
        background: none;
        border: none;
        padding: 20px 15px
      }

      .popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }

      .popup-content {
        background-color: white;
        padding: 20px;
        width: 70%;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      }

      .popup-content h3 {
        margin-bottom: 13px;
      }

      .popup-content label {
        display: block;
        margin-top: 8px;
        font-weight: 400;
      }

      .popup-content input {
        width: 100%;
        padding: 6px;
        margin-top: 4px;
        border: 1px solid #ccc;
        border-radius: 6px;
      }

      .popup-buttons {
        margin-top: 16px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
      }

      .popup-buttons button {
        padding: 6px 12px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
      }

      .popup-buttons button:first-child {
        background-color: #7DCFB6;
        color: white;
      }

      .popup-buttons button:last-child {
        background-color: #ccc;
      }