
* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }
      body {
        font-family: 'Inter', sans-serif;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        }

      .iphone-app {
        width: 390px;
        height: 844px;
        background-color: white;
        border-radius: 40px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
      .app-header {
        display: flex;
        align-items: center;
        padding: 15px 16px;
        background-color: #f2f2f7;
        border-bottom: 1px solid #ddd;
        gap: 10px;
      }
      .wg-selector {
        font-size: 14px;
        padding: 10px;
        flex-shrink: 0;
        margin-top: 10px;
        border: none;
        
        flex: 1;
      }
      .wg-name {
        flex: 2;
        font-weight: 600;
        text-align: center;
      }
      .settings-btn {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        padding: 10px;
        padding-right: 30px;
        text-align: center;
        font-size: 14px;
        border-top: 2px solid transparent;
        background: none;
        border: none;
      }
      .qr-btn {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        border-top: 2px solid transparent;
        background: none;
        border: none;
      }

    
      .bottom-nav {
      margin-top: auto;
      width: 100%;
      display: flex;
      justify-content: space-around;
      border-top: 1px solid #ddd;
      background-color: #f9f9f9;
    }


      .nav-item {
        flex: 1;
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
        border-top: 2px solid transparent;
        background: none;
        border: none;
      }

        .nav-icon {
        width: 30px;
        height: 30px;
        margin-bottom: 4px;
        }

      .nav-item.active {
        color: #7DCFB6;
        border-top: 2px solid #7DCFB6;
        font-weight: 600;
      }
    
      /* Hauptcontent */
       .app-content {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
        position: relative; 
      }
      /* Abstand zum nav */
      .shopping-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 40px;
      }
      /* graue box */
      .list-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ddd;
        padding: 35px;
        border-radius: 16px;
      }
      /* icon Abstand zum Wocheneinkauf */
      .list-card img {
        margin-right: 20px;
      }

      /* content in der box */
      .list-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        text-decoration: none;
        color: inherit;
      }
      .list-arrow{
        margin-left: auto;
        margin-right: 10px;
        font-size: 18px;
      }

      /*button liste hinzufugen*/
      .add-list {
        font-weight: bold;
        font-size: 15px;
        text-align: right;
        background: none;
        border: none;
        padding: 20px 15px
        }

      .add-list span {
        font-size: 24px;
        line-height: 0;
      }